<h1>Pins</h1>

<% unless @pins.empty? %>
  <div class="row">
    <% @count = 1 %>
    <% @pins.each do |pin| %>
      <% if @count == 5 %>
      </div>
      <div class="row">
        <% @count = 1 %>
      <% end %>
      <div class="col-md-3">
        <% path = pins_path + '/' + pin.id.to_s %>
        <%= link_to image_tag(pin.image, :alt => pin.title,  :class => 'feature'), path %>
      </div>
      <% @count += 1 %>
    <% end %>
  </div>
<% end %>


<%= link_to "Create Pin", pins_new_pin_path, :class => 'btn btn-primary my-5' %>
